@import './styles/theme.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-light);
  color: var(--text-primary);
}
